.game-field-closed  {
  width: 38px;
  height: 38px;
  background-color: LightSlateGray  ;
  border-radius: 4px;
  display: table-cell;
}
.game-field-opened  {
  width: 38px;
  height: 38px;
  /*max-height: 35px;*/
  background-color: LightGray ;
  border-radius: 4px;
  display: table-cell;
  text-align: center;
}
.game-field-blocked  {
  width: 38px;
  height: 38px;
  background-color: Tomato ;
  border-radius: 2px;
  display: table-cell;
  text-align: center;
}
.game-field-mine  {
  width: 38px;
  height: 38px;
  background-color: Maroon;
  border-radius: 2px;
  display: table-cell;
  text-align: center;
}

.value-1-2 {
  font-size: 12px;
  font-weight: bold;
  color: RoyalBlue ;
}
.value-3-4 {
  font-size: 12px;
  font-weight: bold;
  color: Peru;
}
.value-5-6 {
  font-size: 12px;
  font-weight: bold;
  color: FireBrick;
}
.value-7-8 {
  font-size: 12px;
  font-weight: bold;
  color: MidnightBlue;
}
