.game-field-closed  {
  width: 38px;
  height: 38px;
  background-color: #4056A1;
  border-radius: 4px;
  display: table-cell;
  cursor: pointer;
}
.game-field-opened  {
  width: 38px;
  height: 38px;
  /*max-height: 35px;*/
  background-color: #C5CBE3 ;
  border-radius: 4px;
  display: table-cell;
  text-align: center;
  cursor: pointer;
}
.game-field-blocked  {
  width: 38px;
  height: 38px;
  background: #C5CBE3 url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d1/Antu_flag-red.svg/120px-Antu_flag-red.svg.png') center no-repeat;
  background-size: 32px;
  border-radius: 2px;
  display: table-cell;
  text-align: center;
  cursor: pointer;
}
.game-field-mine  {
  width: 38px;
  height: 38px;
  background: #F13C20 url('https://d30y9cdsu7xlg0.cloudfront.net/png/9966-200.png') center no-repeat;
  background-size: 32px;
  border-radius: 2px;
  display: table-cell;
  text-align: center;
  cursor: pointer;
  cursor: pointer;
}

.value1 {
  font-size: 12px;
  font-weight: bold;
  color: RoyalBlue ;
}
.value2 {
  font-size: 12px;
  font-weight: bold;
  color: green
}
.value3 {
  font-size: 12px;
  font-weight: bold;
  color: brown
}
.value4 {
  font-size: 12px;
  font-weight: bold;
  color:tomato ;
}
.value5 {
  font-size: 12px;
  font-weight: bold;
  color: fuchsia ;
}
.value6 {
  font-size: 12px;
  font-weight: bold;
  color: slateblue ;
}
.value7 {
  font-size: 12px;
  font-weight: bold;
  color:indianred ;
}
.value8 {
  font-size: 12px;
  font-weight: bold;
  color: maroon ;
}
